<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pcmdk.englishmastery">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="English Mastery Coach"
        android:theme="@style/Theme.EnglishMastery">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>